## QUES NO  1

In [ ]:



When workData Encoding is an important pre-processing step in Machine Learning. It refers to the process of converting categorical or textual data into numerical format, so that it can be used as input for algorithms to processing on some datasets, we found that some of the features are categorical, if we pass that feature directly 
to our model, our model can't understand those feature variables. We all know that machines can't understand categorical
data. Machines require all independent and dependent variables i.e input and output features to be numeric. 
This means that if our data contain a categorical variable, we must have to encode it to the numbers before we fit our
data to the model.

Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the features 
into numerical ones, So the machine can learn from those data and gives the right model. This process of converting 
categorical data into numerical data is called Encoding.

The four most popular techniques of encoding are,

Nominal Encoding

Ordinal Encoding

label encoding

target guided ordinal encoding

Importance

Encoding data is typically used to ensure the integrity and usability of data and is commonly used when data cannot be
transferred in its current format between systems or applications

• Most machine learning algorithms work only with numerical data, so categorical variables (such as text labels) must be
transformed into numerical values.

• This allows the model to identify patterns in the data and make predictions based on those patterns.

• Encoding also helps to prevent bias in the model by ensuring that all features are equally weighted.

• The choice of encoding method can have a significant impact on model performance, so it is important to choose an
appropriate encoding technique based on the nature of the data and the specific requirements of the model.

## QUES NO 2

In [ ]:
 
Nominal Encoding
When we have a feature where variables are just names and there is no order or rank to this variable's feature.

For example: City of person lives in, Gender of person, Marital Status, etc…

In the above example, We do not have any order or rank, or sequence. All the variables in the respective feature are equal.
We can't give them any orders or ranks. Those features are called Nominal features.

In [1]:
##Example

from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [3]:
df = pd.DataFrame({'colours':['red','blue','green','blue','red','blue','green']})

In [4]:
df

  colours
0     red
1    blue
2   green
3    blue
4     red
5    blue
6   green

In [5]:
encoder = OneHotEncoder()

In [25]:
encoded=encoder.fit_transform(df[['colours']])

In [26]:
encoded

<7x3 sparse matrix of type '<class 'numpy.float64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [30]:
import pandas as pd

encoding = pd.DataFrame(encoded.toarray(),columns= encoder.get_feature_names_out())

In [31]:
encoding

   colours_blue  colours_green  colours_red
0           0.0            0.0          1.0
1           1.0            0.0          0.0
2           0.0            1.0          0.0
3           1.0            0.0          0.0
4           0.0            0.0          1.0
5           1.0            0.0          0.0
6           0.0            1.0          0.0

In [33]:
pd.concat([df,encoding],axis=1)

  colours  colours_blue  colours_green  colours_red
0     red           0.0            0.0          1.0
1    blue           1.0            0.0          0.0
2   green           0.0            1.0          0.0
3    blue           1.0            0.0          0.0
4     red           0.0            0.0          1.0
5    blue           1.0            0.0          0.0
6   green           0.0            1.0          0.0

## QUES NO 3

In [ ]:
Nominal one hot encoding is used when there is the less number of the categorical feature are present  in the dataset 
and by which it can easily get converted into the numerical data and model can trained with it as  it create the sparce 
matrix to create the binary code for the categorical data

In [34]:
import seaborn as sns 

import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = sns.load_dataset('diamonds')

In [37]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [38]:
encoder = OneHotEncoder()

In [39]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [40]:
df.columns[1]

'cut'

In [45]:
encoded = encoder.fit_transform(df[['cut']])

In [47]:
import pandas as pd
encoding=pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out())

In [48]:
pd.concat([df,encoding],axis=1)

,carat,cut,color,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.0,0.0,1.0,0.0,0.0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.0,0.0,0.0,1.0,0.0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.0,0.0,0.0,1.0,0.0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0

## QUES NO 4

In [ ]:
I would like to use the one hot encoder because there is  the less number of the categorical  data is present 
there is no need to give rank or label as not ask in the question

In [ ]:

from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [56]:
df = pd.DataFrame({'colours':['red','blue','green','white','red','yellow','green']})

In [57]:
df

  colours
0     red
1    blue
2   green
3   white
4     red
5  yellow
6   green

In [58]:
encoder = OneHotEncoder()

In [59]:
encoded=encoder.fit_transform(df[['colours']])

In [60]:
encoded

<7x5 sparse matrix of type '<class 'numpy.float64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [61]:
import pandas as pd

encoding = pd.DataFrame(encoded.toarray(),columns= encoder.get_feature_names_out())

In [62]:
encoding

   colours_blue  colours_green  colours_red  colours_white  colours_yellow
0           0.0            0.0          1.0            0.0             0.0
1           1.0            0.0          0.0            0.0             0.0
2           0.0            1.0          0.0            0.0             0.0
3           0.0            0.0          0.0            1.0             0.0
4           0.0            0.0          1.0            0.0             0.0
5           0.0            0.0          0.0            0.0             1.0
6           0.0            1.0          0.0            0.0             0.0

In [63]:
pd.concat([df,encoding],axis=1)

,colours,colours_blue,colours_green,colours_red,colours_white,colours_yellow
0,red,0.0,0.0,1.0,0.0,0.0
1,blue,1.0,0.0,0.0,0.0,0.0
2,green,0.0,1.0,0.0,0.0,0.0
3,white,0.0,0.0,0.0,1.0,0.0
4,red,0.0,0.0,1.0,0.0,0.0
5,yellow,0.0,0.0,0.0,0.0,1.0
6,green,0.0,1.0,0.0,0.0,0.0

## QUES NO  5

In [ ]:
Number of rows = 1000
Number of column = 5
Number of categorical column = 2
 so new column would be created will be
    Total New Columns = Number of New Columns for Categorical Column 1 + Number of New Columns for Categorical Column 2

Total New Columns = n1 + n2 = 1000+1000 =2000 
 
    Answer = 2000

## QUES NO 6

As per question it is given  that there are some feature  given in the dataset and this is categorical dataset
these are habitat,species,diet , so we can use the nominal one hot  encoding for transform  the  categorical 
data into the three binary column by which  we can  transform the categorical data into the nuumerical data

## QUES NO 7

### Step-1 : Import the  library

In [ ]:
 

from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import seaborn as sns

### Step-2 : load the dataset

In [ ]:
dataset columns are the customer's gender, age, contract type,
monthly charges, and tenure

### Step-3 : Make a instance of  OneHotEncoder

In [ ]:
encoder = OneHotEncoder

### Step-4: Do the fit_transform

In [ ]:
To calculate the  mean and the standard deviation and the standard deviation

### Step-5 : convert the categorical dataset into the numerical dataset

### Step-5: convert fit_transform value  into array using toarray() and the call the             encoded.get_feature_names_out

In [ ]:
to give same name to the new column as in dataset

### Step-6 categorical data transformed

In [ ]:
In the form of the numerical data  as the binary data